#building {
  display: flex;
  flex-direction: column;
  position: relative; 
}

.floor {
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  text-align: center; 
}

.elevator {
  width: 50px;
  height: 20px;
  background-color: yellow;
  position: absolute;
  top: 0px; 
  transition: top 2s ease; 
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
}

#elevator1 {
  margin-left: 100px;
}

#elevator2 {
  margin-left: 200px;
}

#elevator3 {
  margin-left: 300px;
}
